.form-frame {
    margin: auto;
    width: 80%;
}

form {
    margin: 0 auto;
    border: 1.5px solid lightsteelblue;
    border-radius: 25px;
}

.form-titulo {
    height: 100px;
    background-color: lightsteelblue;
    margin: auto;
}

.form-titulo h2{
    font-weight: 600;
    position: relative;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.info-personal {
    margin: auto;
    justify-content: space-between;
}

.pasteles {
    font-size: 18px;
}

.form-btn .btn{
    font-size: 25px;
}